body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Dark background gradient */
    background: linear-gradient(to left, #352F44, #111);
    color: #fff; /* White text color */
    text-align: center;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('football-stadium-night-generative-ai.jpg'); /* Path to your local image */
    background-size: cover;
    opacity: 0.2; /* Low opacity */
    z-index: 1;
    border-radius: 12px; /* Match border radius */
}



body > * {
    position: relative; /* Ensure content is on top of pseudo-element */
    z-index: 2; /* Higher stacking order */
}

body:hover {
    transform: translateY(-10px); /* Example of hover effect */
}


header {
    width: 100%;
    background-color: #092635; /* Dark background color */
    background: linear-gradient(to top, #092635, #1070a0);
    color: #9EC8B9; /* White text color */
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem 0; /* Adjust padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}


main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}

#intro {
    position: relative;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    padding: 2rem;
    border-color: #fff;
    border-radius: 12px; /* Rounded corners */
    margin: 1rem;
    flex: 1 1 45%;
   
    box-sizing: border-box;
    overflow: hidden;
  
    padding: 2rem;
  
    margin-bottom: 2rem;
    border: 1px solid #ccc; /* Example border */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Example shadow */
   
}

#intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('WhatsApp Image 2024-07-04 at 21.50.27_7115dc4c.jpg'); /* Path to your local image */
    background-size: cover;
    opacity: 0.2; /* Low opacity */
    z-index: 1;
    border-radius: 12px; /* Match border radius */
}



#intro > * {
    position: relative; /* Ensure content is on top of pseudo-element */
    z-index: 2; /* Higher stacking order */
}

#intro:hover {
    transform: translateY(-10px); /* Example of hover effect */
}



#joinButton {
    background: #0772a7;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    border: 1px solid #ccc; /* Example border */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Example shadow */
}

#joinButton:hover {
    background: #24A1DE;
    transform: scale(1.05);
}

#content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    padding: 2rem;
    border: 1px solid #ccc; /* Example border */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Example shadow */

    margin: 1rem;
    flex: 1 1 45%;
    max-width: 45%;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('198.jpg'); /* Path to your local image */
    background-size: cover;
    opacity: 0.1; /* Low opacity */
    z-index: 1;
    border-radius: 12px; /* Match border radius */
}

.card > * {
    position: relative;
    z-index: 2;
}

.card:hover {
    transform: translateY(-10px);
}

.record-card .record-item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bolder;
}

.status {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #4caf50;
}

.accuracy {
    margin-top: auto; /* Pushes the element to the bottom */
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem; /* Optional padding for spacing */
  }
  .About {
    position: relative;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    padding: 2rem;
    border-color: #fff;
    border-radius: 12px; /* Rounded corners */
    margin: 1rem;
    flex: 1 1 45%;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #ccc; /* Example border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Example shadow */
    text-align: center; /* Center align text */
    color: #fff; /* White text color for better readability */
}

.About::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    opacity: 0.2; /* Low opacity */
    z-index: 1;
    border-radius: 12px; /* Match border radius */
}



.About > * {
    position: relative; /* Ensure content is on top of pseudo-element */
    z-index: 2; /* Higher stacking order */
}

.About:hover {
    transform: translateY(-10px); /* Example of hover effect */
}



.About h2 {
    color: #3DC2EC;
}

.accuracy {
    color: #9EC8B9;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.social-icons {
    margin-top: 2rem;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
}

.social-icons a.youtube {
    color: #FF0000; /* YouTube Red */
}

.social-icons a.telegram {
    color: #0088cc; /* Telegram Blue */
}

.fab:hover {
    transform: translateY(-10px); /* Example of hover effect */
}

.social-icons a.instagram {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit-specific property */
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 2rem;
}

.social-icons a.instagram i {
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    background-clip: text; /* Standard property */
    -webkit-background-clip: text; /* WebKit-specific property */
    -webkit-text-fill-color: transparent;
}

.social-icons a.whatsapp {
    color: #25D366; /* WhatsApp Green */
}



footer {
    margin-top: 2rem;
    padding: 1rem;
    background: #092635;
    color: white;
    width: 100%;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    #content {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
        margin: 1rem 0;
    }
}




@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    #intro {
        padding: 1rem;
    }

    #joinButton {
        padding: 0.5rem 1rem;
    }

    .card {
        max-width: 100%;
        margin: 1rem 0;
    }
}
